@charset 'UTF-8';
$YH : 'Microsoft YaHei';
$ST : 'SimSun';
$cc : #ff7a4d;
$hcc : #fd5503;
$dark : #999;

$PF : PingFangSC-Regular, "Droid Sans Regular","Rotobo", "Microsoft YaHei", Arial;
$TH : tahoma, arial, '\5b8b\4f53';
$mainColor : #29cee9;
$mainRedColor : #dc2727;